<footer class="O_Footer">
  <div class="O_Footer__Newsletter O_Footer__Newsletter-article">
    <p class="O_Footer__NewsletterText A_TextLead">
      Оставайтесь в курсе с нашим информационным бюллетенем, который охватывает
      последние новости и аналитические материалы отрасли
    </p>
    <form
      class="O_Footer__Form O_Footer__Form-simple"
      action="https://submit-form.com/3SjO8wYDW"
      method="post"
    >
      <label class="O_Footer__Field O_Footer__Field-simple" for="email">
        <span class="visually-hidden">Электронная почта</span>
        <input
          class="A_Input A_Input-medium"
          type="email"
          id="email"
          name="email"
          placeholder="Ваша почта"
          required
        />
      </label>
      <button class="M_Button M_Button-m" type="submit">
        <span class="A_TextLabel">Отправить</span>
      </button>
    </form>
  </div>
  <div class="O_Footer__Main">
    <div class="O_Footer__LinksRow">
      <div class="O_Footer__Brand">
        <div class="A_LogoFooter" role="img" aria-label="Underground & Pound"></div>
      </div>
      <nav class="O_Footer__Nav" aria-label="Подвал">
        <div class="O_Footer__NavList">
          <a class="A_TextH3 A_Text-white" href="<%= root %>pages/tests.html">Кейсы</a>
          <a class="A_TextH3 A_Text-white" href="<%= root %>pages/articles.html">Статьи</a>
          <a class="A_TextH3 A_Text-white" href="<%= root %>pages/dictionary.html">Ресурсы</a>
          <a class="A_TextH3 A_Text-white" href="<%= root %>index.html#webzine">Веб-зин</a>
        </div>
      </nav>
    </div>
    <div class="O_Footer__Bottom">
      <p class="A_TextBody A_Text-white">HSE DESIGN 2026</p>
      <p class="A_TextBody A_Text-white">Рахат Юсупов</p>
    </div>
  </div>
</footer>
