.O_ArticleNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.O_ArticleNav__Item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 16px;
  background: var(--light-gray);
  border-bottom: 1px solid var(--gray);
  color: var(--dark-gray);
}

.O_ArticleNav__Item:last-child {
  border-bottom: none;
}

.O_ArticleNav__Label {
  flex: 1 0 0;
  min-width: 0;
  color: var(--dark-gray);
}

.O_ArticleNav__Item.is-active .O_ArticleNav__Label {
  color: var(--black);
}

.O_ArticleNav__Item .A_Icon {
  flex-shrink: 0;
}
