.M_ButtonCTA {
  display: inline-flex;
  align-items: stretch;
  gap: 2px;
}

button.M_ButtonCTA {
  font: inherit;
  color: inherit;
}

.M_ButtonCTA .M_Button {
  height: auto;
  padding: 6px 8px;
}
