.S_Article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 0;
}

.S_Article__Layout {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 4fr);
  gap: 32px;
  width: 100%;
  padding: 0 var(--margin);
}

.S_Article__Nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  align-self: start;
  position: sticky;
  top: 80px;
}

.S_Article__Main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
}

.S_ArticleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 896px;
  max-width: 100%;
  padding: 32px;
  overflow: hidden;
  background: var(--light-gray);
  border-radius: 20px;
}

.S_ArticleContent__Slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

.S_ArticleContent [id] {
  scroll-margin-top: 96px;
}

@media (max-width: 1100px) {
  .S_Article__Layout {
    grid-template-columns: 1fr;
  }

  .S_Article__Nav {
    position: static;
  }

  .S_ArticleContent {
    width: 100%;
  }

  .A_NextArticles {
    flex-direction: column;
  }

  .A_NextArticle {
    width: 100%;
  }
}
